@import "../../../../variables.scss";

:host {
  height: 100%;
  overflow: hidden;
  display: block;
}

.ui {
  position: fixed;
  top: 0;
  left: 0;

  .open-menu {
    position: fixed;
    right: 0;
    top: 0;
  }
}
