@import "../../../../variables.scss";

:host {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .top {
    height: 40px;
    background-color: #000;
    border-bottom: 2px $primary-color solid;
    width: 100%;
    line-height: 40px;
  }

  .open-menu {
    position: fixed;
    right: 0;
    top: 0;
  }
}
